@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

html, body, #__next {
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  background: #fff;
  color: #000;
  line-height: 1.6;
}

h1 {
  @apply text-4xl font-bold tracking-tight mb-6;
}

h2 {
  @apply text-3xl font-semibold mt-10 mb-4;
}

h3 {
  @apply text-2xl font-semibold mt-8 mb-3;
}

p {
  @apply text-base leading-relaxed mb-4;
}

/* Utility */

/* Visually hide, but keep accessible to screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Masonry layout */
.masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter compensation */
  width: auto;
}

.masonry-grid_column {
  padding-left: 1rem; /* gutter */
  background-clip: padding-box;
}

/* vertical gutter */
.masonry-grid_column > .masonry-item {
  margin-bottom: 1rem;
}


